[flake8]
select = B,BLK,B9,C,E,F,I,S,W
max-complexity = 10
application-import-names = der_py,tests
import-order-style = google

# bugbear checks line-length sanity with a tolerance of 10%
ignore = E501
max-line-length = 80

# bandit complains about assertions (removed in byte code) in tests unless:
per-file-ignores = tests/*:S101
